<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ckeditorjs")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Job Window", "Index", "Jobs", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    <li class="dropdown leftitems">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listing Management<span class="caret"></span></a>
                        <ul class="dropdown-menu customeMenu">                           
                            <li class="leftitems">@Html.ActionLink("Job List", "Index", "Jobs")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("Show Duplicates", "Duplicates", "Jobs")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("Stats Pending", "Create", "Stats")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("Create", "Create", "Jobs")</li>
                        </ul>
                    </li>
                    <li class="dropdown leftitems">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu customeMenu">
                            <li class="leftitems">@Html.ActionLink("EverGreen", "EverGreenReport", "Reports")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("Active", "ActiveReport", "Reports")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("InActive", "InActiveReport", "Reports")</li>
                        </ul>
                    </li>                   
                    <li class="leftitems">@Html.ActionLink("Users", "Contact", "Home")</li>
                    <li class="leftitems">@Html.ActionLink("Applicants", "Index", "Applicants")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="font-size: small">
            <p>&copy; @DateTime.Now.Year - The Job Window</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
