<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
    var CKEDITOR_BASEPATH = '@Url.Content("~/Scripts/ckeditor/")';
    </script>    
    @Scripts.Render("~/bundles/ckeditorjs")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Job Window", "Index", "Jobs", new { area = "" }, new { @class = "navbar-brand" })
                @*<a aria-disabled="True" class="navbar-brand" href="#"><i class="glyphicon glyphicon-home"></i>  THE JOB WINDOW</a>*@
                @*<a aria-disabled="True" class="navbar-brand" href="#"><i class="glyphicon glyphicon-home"></i></a>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown leftitems">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listing Management<span class="caret"></span></a>
                        <ul class="dropdown-menu customeMenu">
                            <li class="leftitems">@Html.ActionLink("Job List", "Index", "Jobs")</li>
                            <li role="separator" class="divider"></li>                           
                            <li class="leftitems">@Html.ActionLink("Pending Stats", "Create", "Stats")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("Create", "Create", "Jobs")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("Mass Delete", "MassDelete", "Jobs")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("Mass Expire", "MassExpire", "Jobs")</li>
                        </ul>
                    </li>
                    <li class="dropdown leftitems">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu customeMenu">
                            <li class="leftitems">@Html.ActionLink("EverGreen", "EverGreenReport", "Reports")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("Active", "ActiveReport", "Reports")</li>
                            <li role="separator" class="divider"></li>
                            <li class="leftitems">@Html.ActionLink("InActive", "InActiveReport", "Reports")</li>
                        </ul>
                    </li>
@if (User.IsInRole("Root") || User.IsInRole("Admin"))
{
    <li class="dropdown leftitems">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adminstration<span class="caret"></span></a>
        <ul class="dropdown-menu customeMenu">
            <li class="leftitems">@Html.ActionLink("Register", "Register", "Account")</li>
            <li role="separator" class="divider"></li>
            <li class="leftitems">@Html.ActionLink("Assign Role", "AssignRole", "Account")</li>
            <li role="separator" class="divider"></li>
            <li class="leftitems">@Html.ActionLink("View User Roles", "GetUsersWithRoles", "Account")</li>
            <li role="separator" class="divider"></li>
            <li class="leftitems">@Html.ActionLink("Board Management", "Index", "BoardManagement")</li>
        </ul>
    </li>
    <li class="leftitems">@Html.ActionLink("Applicants", "Index", "Applicants")</li>
}
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="font-size: small">
            <p>&copy; @DateTime.Now.Year - The Job Window</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/bootbox")
    @RenderSection("scripts", required: false)
</body>
</html>
