@using JobWindowNew.Domain.ViewModels

@model IEnumerable<JobWindowNew.Domain.ViewModels.JobGridViewModel>

@{
    PaginationInfoViewModel info = ViewBag.SortingPagingInfo;
}

@{
    ViewBag.Title = "Index";
}

<h2>Job List</h2>
@using (Html.BeginForm("Index", "List", FormMethod.Post))
{
    @Html.Hidden("SortField", info.SortField)
    @Html.Hidden("SortDirection", info.SortDirection)
    @Html.Hidden("TotalCount", info.TotalCount)
    @Html.Hidden("PageSize", info.PageSize)
    @Html.Hidden("CurrentPage", info.CurrentPage)
    <table class="table table-hover table-condensed table-responsive" style="font-size: smaller">
        <thead>
        <tr>
            <th>
                <a href="#" data-sortfield="Job.Id"
                   class="header">@Html.DisplayNameFor(model => model.Id)</a>
            </th>
            <th>
                <a href="#" data-sortfield="Job.Title"
                   class="header">@Html.DisplayNameFor(model => model.Title)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchedulingPod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobBoard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnlineApply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsExpired)
            </th>
        </tr>
        <tr>
            <th>@Html.TextBox("IdFilter",info.IdFilter)</th>
            <th>@Html.TextBox("TitleFilter",info.TitleFilter)</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchedulingPod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Division)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobBoard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOnlineApply)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsExpired)
                </td>
            </tr>
        }      
        </tbody>
    </table>
    <input type="submit" hidden="hidden" onclick="$('#CurrentPage').val(0)"/>
    <ul class="pagination pagination-sm">
        @for (var i = 0; i < info.TotalCount && i < 10; i++)
        {
            if (i == info.CurrentPage)
            {
                <li class="active"><a href="#">@(i + 1)</a></li>
            }
            else
            {
                <li>
                    <a href="#" data-pageindex="@i"
                       class="pager">@(i + 1)</a>
                </li>
            }
        }               
    </ul>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $(".header").click(function (evt) {
                $("#CurrentPage").val(0);                
                var sortfield = $(evt.target).data("sortfield");
                
                if ($("#SortField").val() == sortfield) {
                    if ($("#SortDirection").val() == "ascending") {
                        $("#SortDirection").val("descending");
                    }
                    else {
                        $("#SortDirection").val("ascending");
                    }
                }
                else {
                    $("#SortField").val(sortfield);
                    $("#SortDirection").val("ascending");
                }
                evt.preventDefault();
                $("form").submit();
            });

            $(".pager").click(function (evt) {
                var pageindex = $(evt.target).data("pageindex");
                $("#CurrentPage").val(pageindex);
                evt.preventDefault();
                $("form").submit();
            });
        });
    </script>
}
