
@model PagedList.IPagedList<JobWindowNew.Domain.ViewModels.JobGridViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    
@using (Html.BeginForm("Index", "Jobs", FormMethod.Get))
{
    <p>
        Find by Id: @Html.TextBox("idSearch", ViewBag.CurrentFilter as string)
        Find by Title: @Html.TextBox("titleSearch", ViewBag.TitleFilter as string)
        <input type="submit" value="Search"/>
    </p>
}
    <div class="tablewrap">
        <table class="table">
            <thead>
            <tr>
                <th colspan="3">Actions</th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.IdParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">ID</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.CloneFromParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">CloneFromID</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.EverGreenIDParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">EverGreenID</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.TitleParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Title</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.JobBoardParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Job Board</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.CityParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">City</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.StateNameParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">State</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.CountryNameParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Country</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.CompanyNameParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Company Name</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.SchedulingPodParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">PodId</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.DivisionParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Division</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.ActivationDateParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Activation Date</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.ExpirationDateParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Expiration Date</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.CreatedByParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Created By</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.CreatedDateParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Created Date</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.BobParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">BOB</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.IntvsParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Intvs</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.Intvs2Parm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">Intvs 2nd</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.ApsClParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">ApsCl</a></th>
                <th><a href="@Url.Action("Index", new { sortOrder = ViewBag.RemovedClParm,currentFilter=ViewBag.CurrentFilter, titleFilter=ViewBag.TitleFilter})">RemovedCL</a></th>
            </tr>          
            </thead>
            <tbody>
            @foreach (var job in Model)
            {
                <tr>
                    <td class="actionbutton text-center">
                        <a class="editaction" href="@Url.Action("Edit", new { @id=job.Id})">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                    <td class="actionbutton text-center">
                        <a class="cloneaction" href="@Url.Action("Clone", new { @id=job.Id})">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                    </td>
                    <td class="actionbutton text-center">
                        <a class="deleteaction" href="@Url.Action("", new { @id=job.Id})">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                    <td>@Html.DisplayFor(m => job.Id)</td>
                    <td>@Html.DisplayFor(m => job.CloneFrom)</td>
                    <td>@Html.DisplayFor(m => job.EverGreenId)</td>
                    <td>@Html.DisplayFor(m => job.Title)</td>
                    <td>@Html.DisplayFor(m => job.JobBoard)</td>
                    <td>@Html.DisplayFor(m => job.City)</td>
                    <td>@Html.DisplayFor(m => job.StateName)</td>
                    <td>@Html.DisplayFor(m => job.CountryName)</td>
                    <td>@Html.DisplayFor(m => job.CompanyName)</td>
                    <td>@Html.DisplayFor(m => job.SchedulingPod)</td>
                    <td>@Html.DisplayFor(m => job.Division)</td>
                    <td>@Html.DisplayFor(m => job.ActivationDate)</td>
                    <td>@Html.DisplayFor(m => job.ExpirationDate)</td>
                    <td>@Html.DisplayFor(m => job.CreatedBy)</td>
                    <td>@Html.DisplayFor(m => job.CreatedDate)</td>
                    <td>@Html.DisplayFor(m => job.Bob)</td>
                    <td>@Html.DisplayFor(m => job.Intvs)</td>
                    <td>@Html.DisplayFor(m => job.Intvs2)</td>
                    <td>@Html.DisplayFor(m => job.ApsCl)</td>
                    <td>@Html.DisplayFor(m => job.RemovedCl)</td>
                </tr>                
            }                     
            </tbody>
        </table>
    </div>


@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new {page, titleFilter = ViewBag.TitleFilter, currentFilter = ViewBag.CurrentFilter, sortOrder = ViewBag.CurrentSort }))
